<div class="wrapper" (swipe)="onSwipe($event)">
    <div class="holder">
        <div class="text-block">
            <p>
                1903年：德国Eberspäche家族开始制造轮胎；
            </p>
            <p>
                1939—1945年：二战期间，工厂被迫停产；
            </p>
            <p>
                1945—1950年：仅用了五年时间便在欧洲市场全面铺；
            </p>
            <p>
                2015年：Siegfried Eberspäche 博士注册（YEADA）品牌；
            </p>
            <p>
                2017年：驿达品牌（YEADA）进驻中国市场。
            </p>
        </div>
        
    </div>
    <!-- <img src="assets/images/history.jpg" alt=""> -->
</div>