<div class="wrapper">

  <div class="toolbar" role="banner">
    <div class="logo">
      <img alt="驿达轮胎" width="80" src="assets/images/logo.svg" />
      <img alt="" width="40" src="assets/images/titletext.svg" />
    </div>

    <ul class="nav-buttons">
      <li>
        <a mat-button routerLink="/home" routerLinkActive="active">首页</a>

      </li>
      <li>
        <a mat-button routerLink="/advantage" routerLinkActive="active">品牌优势</a>

      </li>
      <li>
        <a mat-button routerLink="/history" routerLinkActive="active">品牌故事</a>
      </li>
      <li>

        <a mat-button routerLink="/about" routerLinkActive="active">关于我们</a>
      </li>
    </ul>
  </div>

  <div class="container" [@routerAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>

  <div class="footer">
    <p>
      中山市佳越橡胶轮胎有限公司
    </p>
    <p>
      联系人：郭先生 电话：020-84780654
    </p>
    <p>联系地址：广州市番禺区亚运大道895号合劲嘉福科技产业园10号楼</p>

    <div class="beian">
      <a class="text-white" href="https://beian.miit.gov.cn/">粤ICP备18058664号-1</a>
    </div>
  </div>

</div>